footer {
  position: fixed;
  bottom: 0px;
  right: 0;
  left: 0;

  margin: auto;
  height: 15px;
  padding: 1;
  color: white;
  background: teal;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
