{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static "css/index.css" %}?ver=1" />
    <title>LoaTier</title>
    
<style>
  body {
    padding-top: 85px;
    overflow: hidden;
    margin: 0; 
  }

  #video-background {
    position: fixed;
    top: 107px;
    left: 0;
    width: 100%; 
    height: 100%; 
    z-index: -1;
    object-fit: fill;
  }


    </style>
  </head>
  <body>
    <header>
      {% include "includes/header.html" %}
    </header>
    
    <div>
      <div class="select" style="position:relative;z-index:5;">
        {%include "includes/selector.html"%}
      </div>
       <th><button id="send" align="center">전송</button></th>
      <div id="main">
        {%include "includes/tierTable.html"%}
      </div>
    </div>

    
      <video autoplay muted loop name="bg" id="video-background">
        <source src="/static/imgdata/{{raid}}.mp4" type="video/mp4">
      </video>
    

    <script>
      var pk = {{pk}}
      var path = "{{raid}}";
      var page = document.getElementsByName("shop");
      
      for(let i=0; i<page.length; i++){
        if(page[i].value==path){
          page[i].checked=true;
        }
      }
    </script>
    <script src="{% static "js/index.js" %}?ver=1" > </script>
  </body>
  </html>